.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  
  }
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.headerContent{
    display:flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
.headerContent span {
    display:inline-block;
    margin-right: 10px;
    color:#999
}